[2017-03-13 09:29] nomemory opened #1 "Add a MockUnitString for generating IBAN codes"

[2017-03-13 09:31] nomemory opened #2 "Add the possibility to register Custom MockUnits to the MockNeat object."
Write a generic mechanism that allows the user to register Custom MockUnits with a MockNeat instance and/or globally.

`mock.register("name", Class, MockUnit)`
`mock.custom("name").val`

To investigate what is the best strategy to achieve this.

[2017-03-13 09:53] nomemory opened #3 "Add a new MockNeat method to return T objects with given probabilities."

[2017-03-13 09:55] nomemory opened #4 "Add unit tests for LongSeq"

[2017-03-13 11:34] nomemory opened #5 "Add Maven Central / JCenter Integration"

[2017-03-13 21:25] nomemory opened #6 "Add unit tests for Probabilities."

[2017-03-13 21:37] nomemory opened #7 "Add a MockUnitString for generating SSCs (US Social Security Codes)"

[2017-03-20 06:18] nomemory commented on #5
JCenter support was added.

[2017-03-20 06:20] #3 closed

[2017-03-24 09:46] #5 closed

[2017-03-24 14:15] #7 closed

[2017-03-24 14:32] nomemory commented on #1
Decided to use https://github.com/arturmkrtchyan/iban4j for the IBAN generation implementation. The library looks stable enough.

[2017-03-24 15:17] nomemory commented on #1
Not going to use the above mentioned library.

[2017-03-25 09:57] nomemory opened #8 "Add MD5 MockUnitString"

[2017-03-25 09:57] #8 closed

[2017-05-06 11:31] #6 closed

[2017-05-06 18:27] nomemory opened #9 "Add Unit tests for default fields in the Reflect MockUnit"

[2017-05-06 18:27] #9 closed

[2017-05-06 18:27] nomemory commented on #9
Unit tests added.

[2017-05-06 18:32] #4 closed

[2017-05-07 08:57] nomemory opened #10 "Documentation on reflect default values."

[2017-05-07 08:57] #10 closed

[2017-05-11 06:28] #1 closed

[2017-07-18 08:41] ihsanhaikalz opened #11 "Can't import the library from jcenter Maven repo"
I tried to import this library from jcenter Maven repo using these configs in pom.xml but it didn't work:

[code]

Is there something wrong with the config?

[2017-07-18 09:33] nomemory commented on #11
Hmm, it should work. Let me check again.

[2017-07-18 09:46] nomemory commented on #11
You are right, let me understand what is actually happening. It seems that no version after 0.0.4 is available for work.

The version 0.0.4 is quite old so I need to find a fix for this.

[2017-07-18 09:49] nomemory commented on #11
For the moment you can download the jar directly:
https://bintray.com/nomemory/maven/download_file?file_path=net%2Fandreinc%2Fmockneat%2Fmockneat%2F0.1.0%2Fmockneat-0.1.0.jar

[2017-07-18 10:13] nomemory commented on #11
Ok, try with this:

[code]

[2017-08-19 17:20] levonk commented on #11
Would love to see this on Maven Central.  https://maven.apache.org/guides/mini/guide-central-repository-upload.html

[2017-08-20 06:14] jaytheking opened #12 "Code coverage"
I see you have extensive tests written but its hard to try and figure out how well the tests cover all of the code. Is it possible to get some code coverage stats on the readme?

Im potentially looking to use this in my tests and so far i havent really found another library that is fit for purpose and easy to use such as yours.

[2017-08-20 07:44] nomemory commented on #12
I will generate some test coverage reports and  add them to the documentation. Thank you for looking at the library.

[2017-08-20 09:59] nomemory commented on #12
@jaytheking I've added an interactive report on codecoverage that can be found at this link: https://codecov.io/gh/nomemory/mockneat . The report is dynamic and it's triggered through a Travis-CI build.

[2017-08-20 10:12] nomemory opened #13 "Fix MoneyTest.testMoneyBound"
Investigate why the test is failing from time to time and if there are any other implications.

[2017-08-20 10:23] jaytheking commented on #12
@nomemory ahhh cheers for that, appreciate you getting back to me about it quickly. Damn for a new library the coverage is great.

Ive started with a test project and ill be seeing how it works, my main usage is for a DB mocking setup based on POJO.

Cheers again.

[2017-08-20 10:23] #12 closed

[2017-08-20 10:31] nomemory commented on #12
@jaytheking Thank you, if you can, please keep my up-to-date with your progress when you are going to use the library. This will enable me making it more stable & better in the long run.

Also feel free to contribute if you ever have time & mood.

Cheers!

[2017-08-22 12:50] jaytheking opened #15 "Add possibility to directly mock data into database."
Just looking at the tutorial for mocking a MySQL database i had the thought that it would make things even better if you could directly store the resulting list into a database. A JPA provider could take care of generalising the sql code generation based on the the domain classes and the mockneat `list().val();` call can make a call to the JPA persist method for storing.

Im not familiar with the

[2017-08-22 13:02] nomemory commented on #15
Actually you can do that by mocking (using reflect method) directly the JPA entities, and afterwards save them through. I am doing this already in a personal project.

Or maybe I didn't understand correctly . You want to add a persistToDb() method in the MockUnit , just like val(), but instead of retrieving the value, actually persisting it ?

[2017-08-22 13:18] jaytheking commented on #15
yes this.

[2017-08-22 13:40] nomemory commented on #15
I think this feature would prove to be quite complicated. Let me think a little bit and I will come with a reply.

[2017-08-22 14:56] jaytheking commented on #15
I dont know a lot about the java functional API but i imagine for something like this there would need to be a wrapper around the JPA crud methods that can take in streams to store the results ?

[2017-08-23 14:33] nomemory commented on #15
@jaytheking I've considered your suggestion but i think it will be difficult to implement.

Let's take for example this code:
[code]
At the end it will random fill a complex structure like `Map<String, List<Map<Set<Integer>, List<Integer>>>>`. If we add a `persistToDb()` method just like `val()` is at the `MockUnit` interface level what we are going to persist in this case ?

The objects can be ea

[2017-10-18 22:42] fndejong commented on #13
Is this still an issue, or is it fixed in commit 2ccf14dfb463180b7?

[2017-10-19 08:42] nomemory commented on #13
@fndejong this was fixed in some previous commits. It as related to the Locale.

[2017-10-19 08:42] #13 closed

[2017-11-18 14:54] sayadi opened #16 "Add the possibility to generate a random phone number"
This is very common

[2017-11-20 12:01] nomemory commented on #16
@muhammed-sayadi Do you have any suggestions on how this can be implemented ?

For the moment for phone numbers you can actually use [mockNeat.fmt()](https://github.com/nomemory/mockneat/wiki/MockNeat#fmt) or [mockNeat.regex()](https://github.com/nomemory/mockneat/wiki/MockNeat#regex).

[2017-11-20 12:43] muhammed-sayadi commented on #16
@nomemory
Thanks. mockeNeat.fmt would indeed do for now.

Thinking about it, the format would be one of the ITU standards; E.123 and E.164 [from the link below].

A quick Google search returned this:
[Helpful Stackoverflow question ](https://stackoverflow.com/questions/15745545/is-there-a-standard-for-phone-numbers)

Country codes can be stored as well.

[A list of country codes](https://www.veriz

[2017-11-20 16:12] nomemory commented on #16
@muhammed-sayadi thank you for giving me the details.

Are you interested in picking this up (if you have time for contributions). If not I can pick this up, whenever I free myself some time.

[2017-11-20 16:22] muhammed-sayadi commented on #16
@nomemory My pleasure. This is helpful and can easily find good use cases for in the future for many.

I will when I have some time as well (would need at least after 19th Dec)

[2017-11-20 19:56] nomemory commented on #16
Ok. Thanks for your implication Muhammed. It is indeed a good feature. I didn't know the phone numbers where standardized.

Another good idea to include in the future would be street addresses and postal codes.

Thanks for the suggestion.

[2017-12-11 10:39] keremulutas opened #17 "Support for random length strings"
When we call:

[code]

the library naturally generates a random `int` between `42` and `62` _once_ and then generates `randomsuffix` with this length.

But the problem is, it doesn't vary between calls because `mock.strings().size()` method only accepts an `int` parameter (and not a MockUnit<Integer>) so we can't pass the method call without the .val() call made.

Can you please add support for va

[2017-12-12 08:45] nomemory commented on #17
@keremulutas

Meanwhile until this feature will be implemented you can do something like this:

`
        MockNeat mock = MockNeat.secure();

        final MockUnitInt variableLength = mock.ints().range(1, 62);
        List<String> fmt = mock.fmt("SOME_PREFIX_")
                               .map(s -> {
                                        int vl = variableLength.val();

[2017-12-12 08:49] #15 closed

[2017-12-12 08:49] nomemory commented on #2
For the moment it will not be implemented.

[2017-12-13 13:36] nomemory commented on #17
@keremulutas

The feature was implemented in the latest version: `0.1.3`.

Documented here:
https://github.com/nomemory/mockneat/wiki/MockNeat#strings

[2017-12-13 17:37] keremulutas commented on #17
Thanks a lot, keep up the good work! Thanks for this cool library btw ;)

[2017-12-13 17:37] #17 closed

[2017-12-14 13:24] mariotrucco opened #18 "ipv4s: add option to exclude private addresses"
There is currently no way to make sure that ips returned by the [ipv4s method](https://github.com/nomemory/mockneat/wiki/MockNeat#ipv4s)  won't be private, it would be nice to have an option for that

[2017-12-14 13:38] nomemory commented on #18
@mariotrucco thanks for using the library. I will put this on my priority list and I will add a new type in order to exclude private addresses. I don't have the exact date when this will implemented, but I will ping you on this forum once it's ready.

If you have time (and you like) you can also work on this by opening a PR. But I fully understand if people are busy.

Cheers.

[2017-12-14 13:47] mariotrucco commented on #18
@nomemory thanks for your work.
I'd like to open a PR, but I don't have much time indeed. You'll hear from me if I find some!

[2018-05-23 02:05] pricelessspirit opened #20 "Add support for subclass reflection"
Specifying subclass in mockNeat.reflect() method gives an error message which is  "Please verify if the class has a public 'No Arguments' constructor".

I saw  your code example at [https://stackoverflow.com/questions/26795661/how-to-generate-random-json-string-in-java] and I tried to generate data for my Patient class which contains field dob of type DOB.  DOB is a subclass of Patient.

[code]
Pa

[2018-05-23 08:12] nomemory commented on #20
Support for non-static inner classes reflection can be a little bit tricky to implement at the level of reflection (because of how the library is done - i need a reference to the outer class but i don't have that since everything is created lazy...).

I will think of a solution for that, but until then I recommend you to use the [filler()](https://github.com/nomemory/mockneat/wiki/MockNeat#filler)

[2018-05-24 02:06] pricelessspirit commented on #20
For now,  I will try to take out sub classes into the own classes,  and their packages.  I don't want to deal with getters and setters. Sub-classes, we were good for me because I could place class definitions for small types under a main object class definition. For now, I will try to organize into separate data packages and use mockneat for generating data. By the way, big thanks for your suggest

[2018-06-14 12:53] manas019 opened #21 "Add support to convert JSON Schema draft to sample JSON data"
Add support to convert JSON Schema lets say in draft 6 to generate random data.
User will provide  JSON Schema in draft  and the library should return random data.
This would help in mocking test data from swagger directly.

[2018-06-14 15:10] gsaisn opened #22 "Issue importing lib in a gradle build"
Gradle build fails with error:
org.gradle.internal.resolve.ModuleVersionNotFoundException: Could not find net.andreinc.mockneat:mockneat:0.1.7.

Similar error for previous versions too.

[2018-06-14 15:52] nomemory commented on #22
Hello,

I believe you didn't include the jcenter() as the repo in your build file:

I've just created a test project and in my `build.gradle` file I have the following configuration:

[code]

For me it works.

cc: @gsaisn

[2018-06-15 10:48] gsaisn commented on #22
Thanks. Works fine when I created a fresh project too.
Faced the issue only when I added the dependency into a multi module project. I already have jcenter() as a repo in the project.
A --stacktrace returns just the error pasted in my original comment. And this error appears only for the mockneat dependency. Wondering what to check next!

[2018-06-15 11:07] gsaisn commented on #22
Fixed it. Confusion between buildscript repository and project repository that missed the eye. :(

[2018-06-15 11:07] #22 closed

[2018-06-15 11:21] nomemory commented on #22
@gsaisn

No problem, i am happy it's fixed.

[2018-06-15 14:49] gsaisn commented on #21
Good to support either JSON Schema or a template (like in json-generator). Could not find any java lib to do this.

[2018-06-15 16:28] nomemory commented on #21
@gsain

There is something I was thinking for a long time but recently I have not enough time to allocate to this.

Currently there is an example on the wiki on how you can generate jsons as long as you have the data model classes, but I know it can be cumbersome as more work is needed for the developer.

There is another issue open about generating data based on openapi / swagger specs.

I will l

[2018-06-22 13:59] leo4ever opened #23 "Issue with mocking a class with a final static long field"
Hello,
I have a class which implements the Serializable interface and has the default declaration "serialVersionUID"
When I tried to mock the class, I get the error 'Cannot set field long.serialVersionUID to null

Stack trace below:
`
java.lang.IllegalArgumentException: Cannot set field long.serialVersionUID with value 'null'. Is the supplied value correct ?
	at net.andreinc.mockneat.unit.objects.

[2018-06-23 08:34] nomemory commented on #23
@leo4ever

I will investigate this issue next week. Until then can you use the filler() method instead of reflect()?

The reflect() needs to be fixed anyways and judging now I think it was a bad idea to have this method anyways.

[2018-06-23 08:59] nomemory commented on #23
@leo4ever

https://github.com/nomemory/mockneat/wiki/MockNeat#filler

Basically the filler() doesn't rely on invasive reflection tricks and allows you to use the normal method for creating objects, and fill them with data through setters.

[2018-07-03 08:02] nomemory commented on #23
@leo4ever

I don't seem to reproduce this issue.
Can you please add more details, eg.: the failing code ?

[2018-07-05 08:57] #23 closed

[2018-07-07 03:44] rajib76 opened #24 "Middle Name support to mockneat"
Hi, I felt the need of this feature in one of my engagement and went ahead and developed that feature. I have also created a pull request to include it in main branch. This is the first time I am contributing a piece of code in an open source project. So, I am not sure if I did it correctly. Please let me know if I have made any mistakes/violated any rules while creating the PR

[2018-07-07 05:55] nomemory commented on #24
@rajib76

Thanks for contributing. For the moment I don't see any PR  open. Once you open that I can review it.

Andrei

[2018-07-07 06:15] rajib76 commented on #24
Please check now, for some reason I have to create the pull request again

[2018-07-07 06:32] rajib76 commented on #24
It looks like the code coverage failed but it shows IPV6 file which I have not touched at all:(

[2018-07-07 06:46] rajib76 opened #26 "Feature to be able to generate data in chunks with a seed..."
This is not a issue but a feature addition. I will try to see if I can add it but please feel free if anyone wants to pick it up. The feature requirement is as below

Lets say that I want to create a creditcard file with 10,000 records. I should be able to create the file in one run or in 5 runs with 2000 records in each run. When I compare the one file with 10000 records and 5 files with 2000 rec

[2018-07-07 06:49] rajib76 opened #27 "Adding a scale factor feature..."
This is a request for one more feature. This feature will allow to add scale factor similar to what dsdgen has. I have done it in a crude way now. I am adding this feature so that we can track it for development if contributors and users think it will be a good feature.

[2018-07-09 08:13] nomemory commented on #27
@rajib76

Can you explain me how this scale feature works ?

You can write something in pseudo-code so I can better understand this feature.

Andrei

[2018-07-09 08:15] nomemory commented on #26
@rajib76

I don't think this feature is implemented in MockNeat and thinking of how the library is made, I don't think it will be an easy task to achieve something like this.

[2018-07-09 08:15] #26 closed

[2018-07-09 13:49] rajib76 commented on #26
Yes I agree, I also went through the code. It may not be possible to implement this. I think the callback creates a new object every time, it will not be possible to create a seed and use it every time.  I will think of an alternate solution for this.

[2018-07-09 13:50] rajib76 commented on #27
Sure, I will send you something over the weekend.

[2018-07-09 14:53] rajib76 commented on #24
Closing per discussion Andrei

[2018-07-09 14:53] #24 closed

[2018-07-09 17:30] nomemory commented on #26
Do you recommend this seed feature so you can generate all the time the same data for tests / mock back-ends etc.?

[2018-07-09 20:24] rajib76 commented on #26
Yes, I think this will be a required feature in certain scenarios. Atleast one I know where I need to test in different environments. If the data size is huge I would not like to copy the data to all environments rather I would run the datagen in all the environments to generate the same data.

I went through the code again. I noticed that the code is using Threadlocal which creates an internal se

[2018-07-09 20:29] rajib76 opened #28 "Seed feature to generate the same data again and again"
I am reopening the seed feature request with below comments. This is in reply to Andrei question below

Do you recommend this seed feature so you can generate all the time the same data for tests / mock back-ends etc.?_

Rajib's response
-----------------------
Yes, I think this will be a required feature in certain scenarios. At least one I know where I need to test in different environments. If

[2018-07-10 02:50] rajib76 commented on #28
I did multiple tests and here is what I saw. My previous understanding is not correct

If I use MockNeat m = MockNeat.threadLocal(), it creates a seed internally and generates the same data
if I use MockNeat m = MockNeat.Old(), it creates a new seed every run and generates different data
if I use MockNeat m = new MockNeat(RandomType.SECURE,8L), I can set my seed and get the same data every run
if

[2018-07-12 11:07] rajib76 opened #29 "Change int to long for number of records passed to list..."
I will work on it and send a PR shortly. Currently the code takes only int for number of records. If we need billions of records created, we will need to change it to long

default MockUnit<List<T>> list(Supplier<List<T>> listSupplier, int size)

I am planning to add another method which will take long as an input.

[2018-07-12 11:09] rajib76 commented on #29
It will work till 2,147,483,647. For more than this we will need long.

[2018-07-12 11:49] nomemory commented on #29
I don't think someone needs to keep in memory a list bigger than Integer max.

[2018-07-12 12:32] rajib76 commented on #29
Hmm, I agree with you but should we look at any other option on how we can make it work if the need is to create large data let's say 3 billion records. May be some option to create the data in splits and write it in disk.

[2018-07-12 12:40] rajib76 commented on #28
I am able to accomplish this through use of SecureRandom. I was wrong with threadLocal(), threadLocal() will create different data for each run because the seed is based on the time of the system.

[2018-07-12 19:18] rajib76 commented on #27
I was able to work on it today. This idea is similar to what is being done in tpc. This is useful when I am creating a baseline with different rowcounts or scale. please let me know your thoughts

I will create a class where all entities for my test will be defined as below.

Entities.java
------------------
package net.andreinc.mockneat.Scaling;

import static net.andreinc.mockneat.Scaling.Scalin

[2018-07-13 09:34] nomemory commented on #29
It's highly improbable someone would want to create a 3 billion records data set.

Still if you want to write data in chunks you can do it in a series of way:

For example:
[code]

[2018-09-17 02:24] lazycodeninja opened #30 "Allow option to provide BIN prefix when generating credit card number"
Congratulations on a cool library, "neat" is an appropriate name. 👍

I was planning to use the `creditCards()` method to easily generate a credit card number, but need it to be generated with a specific BIN else it will be rejected as invalid in the system I'm testing.  From the code the card prefix is taken from the `CreditCardType` enum, which in the case of Visa is just the first digit (4).  Fr

[2018-09-17 03:10] lazycodeninja commented on #30
I thought I'd try to code this up and submitting a pull request, but it's a little trickier than I thought.  At first glance I thought it was a simple builder pattern and I'd just need another method in `CreditCards` to set the BIN, but after looking at the code I see that this isn't the case; it's not possible to chain methods from anything other than `MockUnitString`.  I thought it may be possib

[2018-09-17 08:10] nomemory commented on #30
@lazycodeninja

Thanks for the interest. In the latest version, added today, check the custom() method on creditCards().

Example:

[code]

[2018-09-17 08:53] #29 closed

[2018-09-17 08:53] #28 closed

[2018-09-18 05:48] lazycodeninja commented on #30
Thanks you very much, that was very quick.

Yes the new method does just what I need. 👍

[2018-09-18 05:48] #30 closed

[2018-09-18 09:36] nomemory commented on #30
@lazycodeninja,

Glad it helped.

[2018-09-18 15:11] #11 closed

[2018-09-18 15:11] #20 closed

[2018-10-09 14:12] goodidea-kp opened #31 "Cannot instantiate Mockneat"
In my env I've got JDK-11, Gradle 4.10.2 and Mockneat 0.2.2.
Due to bug in Gradle https://github.com/gradle/gradle/issues/2657 Mockneat not allow to create instance.
Is it possible to have logging system optional or make it pluggable with standard JDK-11 eco system?

[2018-10-10 09:07] nomemory commented on #31
Hello, can please give me more details on the error ? A code example, a stacktrace ?

[2018-10-25 07:37] invalid-packet opened #32 "Web API data sources"
There exist services like https://randomuser.me/ which provide restful api to get random data in json format, thus not requiring a local database. Would it be too far from this project idea to incorporate a generic  rest api in order to get data from the web? Something like:

[code]

[2018-10-25 07:41] nomemory commented on #32
@invalid-packet this sounds like an idea.
In the next two weeks I am on holidays, but when I comeback i will give it a thought.

[2018-11-04 09:12] mnreddy7 commented on #33
@nomemory Can you please have a look at this issue?

[2018-11-04 09:43] mnreddy7 opened #33 "mockneat unable to mock final static members of target mock object"
Java beans in my projects are serializable and all have serialVersonUID which are final. When I try to mock that object, It gives me **IllegalArgumentException: Field is marked as final. It can't be modified. Please remove it from field list**. I checked if there is any option to ignore final members while creating mockneat object. But I couldn't find one.

[2018-11-08 05:51] nomemory commented on #33
Hello,

I will take a look when I comeback from the holidays.

Meanwhile take a look at the filler() method instead of reflect() that should be the preferred method to create objects.

ANDREI

PS: can you please also add an example to see exactly what is not working .

[2018-11-12 15:19] nomemory commented on #32
@invalid-packet

I gave this feature a though and I don't think it's a good idea to implement this in MockNeat. The library should stay "agnostic" when it comes to REST calls or having a deserializer/serializer.

But you can create your own custom MockUnit if you want.

If you need help on how you can create that, give me a shout and I can help further.

Andrei

[2018-11-15 09:16] jasperblues opened #34 "provide more kotlin (and scala?) friendly supplier.val()"
[code]
^-- its not bad, but maybe an alias?

[2018-11-15 15:55] nomemory commented on #34
Yes. That was something I was thinking about.

Any method name suggestions ?

[2018-11-15 22:53] jasperblues commented on #34
How about `supply()`, `build()` or `get()` ?

[2018-11-19 11:17] nomemory commented on #34
@jasperblues

In the latest version 0.2.6 this method was introduced:
https://github.com/nomemory/mockneat/wiki/MockUnit#get

Hope it helps.

[2018-11-19 14:18] #32 closed

[2018-11-19 14:18] nomemory commented on #33
Closing as no more info supplied.

[2018-11-19 14:18] #33 closed

[2018-11-20 08:14] jasperblues commented on #34
DO you still publish to Maven Central?

[2018-11-20 08:52] #34 closed

[2019-02-13 16:38] StephenOTT opened #41 "Content Type Dictionary"
Great Library!  Very easy to use

Would be great to have a Content-Type Mime dictionary to pull values from.

application/pdf

etc

[2019-02-13 16:41] StephenOTT opened #42 "Ability to generate Times?"
Seems you can generate Dates, but is is possible to generic Dates with Times ?

[2019-02-13 16:43] StephenOTT opened #43 "Generate Numbers with a lower bound?"
it seems to be possible to generate a Upper bound using the `.bound()` method when working with Numbers.  But is it possible to set a lower bound?  The use case is mainly to enforce positive numbers

1. `>= 0`
1. `> 0`

[2019-02-13 16:55] StephenOTT commented on #41
nvm see the mimes type!!!

[2019-02-13 16:55] #41 closed

[2019-02-13 19:59] nomemory commented on #43
Hey @StephenOTT,

Thanks for trying the library.

Is this helpful: https://www.mockneat.com/docs#ints

[code]

[2019-02-13 20:02] nomemory commented on #42
Something like the (not so) new [`LocalDateTime`](https://docs.oracle.com/javase/8/docs/api/java/time/LocalDateTime.html) ?

No, it's only possible to generate `LocalDate` (for the moment).

In the future it will be possible, it's one of the features I wanted to add for some time, but never had the *time* :).

[2019-02-13 20:02] #21 closed

[2019-02-13 20:03] nomemory commented on #43
PS: To have an idea of all the features of the library, don't forget to check the tutorial: https://www.mockneat.com/tutorial/

[2019-02-13 20:32] StephenOTT commented on #43
@nomemory Thanks for the quick response.  So yes Range is what i used as the workaround, but it requires a upper bound.  This is quite burdensome when you want to only set a min of 0 or 1 and you are using a Long for example.

[2019-02-13 20:33] StephenOTT commented on #42
k great.  Just wanted to make sure was not missing anything!

[2019-02-18 08:54] nomemory commented on #43
@StephenOTT This will be implemented in the next version. Thanks for the idea.

[2019-02-18 08:55] nomemory commented on #42
@StephenOTT This is going to be implemented in the next version! Stay tuned.

[2019-02-18 09:49] StephenOTT commented on #42
Great. Thanks !!

[2019-02-18 09:50] StephenOTT commented on #43
Great. Thanks 🤘🏻

[2019-03-09 07:02] bwollny commented on #2
Hi. Would be nice to have such a feature. We are using it for German customers and need extensions for German dicts...

[2019-03-09 09:43] nomemory commented on #2
www.mockneat.com/docs/#files

^ this might be useful to use if you have data in files and you want to generate arbitrary values from there.

Registering custom mockunits can be tricky because of how the type system works in Java.

If you describe in greater detail your exact scenario I can help you with an workaround.

Meanwhile I will think of a solution to register mockunits, but it will be prob

[2019-03-09 10:08] bwollny commented on #2
Hi Andrei,

quick reply, thanks. What we consider to do is to have different dicttypes than yours. Unfortunately, it is not possible to extend mockneat in that way. And yes, you are right we want to have our data in files.

To give you all of our information it will take a while. :)

What do you think about having a key value mockunit? Or a pair mock unit?

[2019-03-09 18:59] nomemory commented on #2
Hey, I am currently in travel mode. Let me think and I will come with an answer next week.

Meanwhile you can use the files().from(...) method to get arbitrary information from files.

[2019-03-11 11:58] nomemory commented on #2
@bwollny

DictTypes are enums, and they usually represent an internal txt file that is included in the JAR.

If you want to read data from "external" sources, like files from the disk you can use the method I've mentioned:

[www.mockneat.com/docs/#files](www.mockneat.com/docs/#files)

For example, let's say I have a file called `german-words` in my path. I can read information from it using someth

[2019-03-11 12:30] bwollny commented on #2
Hey Andrei,

i just tried it a few minutes ago, but i get the following error:

``Exception in thread "main" java.lang.NoClassDefFoundError: net/andreinc/aleph/AlephFormatter
	at net.andreinc.mockneat.utils.ValidationUtils.notEmpty(ValidationUtils.java:113)
	at net.andreinc.mockneat.unit.text.FromFiles.from(FromFiles.java:51)
	at com.commerzbank.raki.business.ccs.mock.Titles.supplier(Titles.java:2

[2019-03-11 13:26] nomemory commented on #2
Can you give me the full code ? I cannot understand what's wrong from what you are showing.

[2019-03-11 21:21] StephenOTT opened #46 "Ability to create a lambda(or something) of methods that will be have N of those methods called"
Any thoughts on the ability to have some sort of listing of methods or a lambda/builder that allows you to define a probability that the method will be called, and be able to set a Min and/or max methods to be called.

Such as: I have 4 snippets of code: I want each snippet have a probability of 50%, and I want that a minimum of 1 method will always be called, but which will be random).

[2019-03-12 08:24] nomemory commented on #46
I think a feature like this will be a little bit to specific to implement in the library itself, but it can be easily done with some additional code, something like this maybe:

[code]
Depending on what you want your code can become more complex, but this should be a starting point.

PS: I've created my own `@FunctionalInterface` for a `void()` method for more clarity (I dislike using `Runnable` b

[2019-03-12 09:12] bwollny commented on #2
Ouhhh, there is a dependency to your project that hosts the AlephFormatter....thats the reason. our maven didnt fetch the dependency...

[2019-03-12 09:35] nomemory commented on #2
Is it working now ? Or still it has problem with the dependency ?

[2019-03-12 10:28] bwollny commented on #2
I do not have the possibility to add the dependency right now. i am working in an environment where there are some restrictions to add new software....so unfortunately right now i cannot test the file()-method...

Thought about your mock.register(...) idea? would be nice to have something like that.

How would you implement something like a <key, value> mockunit? i'm currently having this issue.

[2019-03-13 00:04] StephenOTT commented on #46
Great points.  Will review further and report back. Thanks!

[2019-03-14 13:40] nomemory commented on #43
@StephenOTT

Didn't forget about the request.
So now you can use lowerBound(), like in the following example:

[code]

PS: Don't forget to update to 0.3.6

[2019-03-15 01:10] StephenOTT commented on #43
@nomemory Thanks for the great support.  I will check it out!

[2019-06-20 16:31] rajib76 opened #52 "Address with multiple lines"

[2019-06-20 16:33] rajib76 commented on #52
Hi,
I am trying to create an address with multiple address lines. Is there a built-in function to do this. Below is what I am trying to generate. If  this is not available, I will try to see if I can add a function to generate address lines
AddressID : XXXXX
AddressLine1:xxxxxxxxxxxx
AdressLine2:xxxxxxxxxxxx
City:
State:
Pin:

[2019-06-21 07:41] nomemory commented on #52
I've written the following code as a baseline for what you want.

You can find the full documentation at www.mockneat.com. You can customise your address generation as you want, but this should be the baseline.

[code]

The above code should be able to generate 10 Addresses in your specific format.

I don't see any reason to implement a "real" address generator at the library level, all because ad

[2019-06-21 07:50] #46 closed

[2019-06-21 07:50] #43 closed

[2019-06-21 07:51] #42 closed

[2019-06-21 07:51] #2 closed

[2019-06-23 02:49] rajib76 commented on #52
Thanks a lot

[2019-06-23 13:22] #52 closed

[2019-07-01 15:35] rajib76 opened #54 "Requirement to create data for a retail industry..."
Hi, I have a need to create a dataset for a retail industry where we need to create a list of edible and non-edible products. The use case is that based on the products bought by customers, they get rewards. This use case will also help to cross sell and up sell. I am thinking whether we should add a feature to create domain specific dataset. In this case it will produce a list of edible(like milk

[2019-08-04 17:29] asethia opened #57 "Composite Object MockNeat"
I am trying to create mock data from MockNeat for Composite Object for example (It is scala code but same applies for the Java Beans as well):

case class User(name:String)

case class Group(id:Int, name:String)

case class UserGroups(user:User, group:Group)

I would like to create data for UserGroups. I tried the following approach:

1. generate User mock data using User class --> userData
2. gen

[2019-08-05 04:56] nomemory commented on #57
Can you please share the Scala code ? I am fluent in the language and I can debug better over the code.

[2019-09-12 18:43] luciano-fiandesio opened #60 "Unable to use PostgreSQL escaper with SQLInserts"
The method `public SQLInserts column(String column, MockUnit mockUnit, UnaryOperator<String> sqlFormatter) ` in class `net.andreinc.mockneat.unit.text.SQLInserts` does not work with the Postgres and MySQL escapers, since both escaper return a `Function` and not a `UnaryOperator`.

This is in contrast with the documentation here: https://www.mockneat.com/tutorial#sql-inserts

As a temporary fix, I

[2019-09-12 21:05] luciano-fiandesio opened #61 "localDates() does not work when using a formatter that contains time"
This code:
`localDates().thisYear().display(ISO_LOCAL_DATE_TIME)`

fails, because `ISO_LOCAL_DATE_TIME` uses `HOUR_OF_DAY`, `MINUTE_OF_HOUR`, `SECOND_OF_MINUTE` but the formatted class is `LocalDate` which has no reference to time.

[2019-09-16 09:04] nomemory commented on #61
@luciano-fiandesio Thank you for reporting the bug. When I have some spare time I will be able to look into it.

[2019-09-16 09:04] nomemory commented on #60
@luciano-fiandesio Thank you for reporting the bug. When I have some spare time I will be able to look into it.

[2019-09-16 09:06] luciano-fiandesio commented on #61
I'm happy to provide a patch, just unsure how to handle it.
1) remove completely the DATE TIME enum
2) throw an exception if a DATE TIME is used with localDates()

any other idea?

[2019-09-16 11:23] nomemory commented on #61
I believe the solution would be to deprecate the method.
Throw an exception in the deprecated method.
Create a new ENUM to support the some pre-defined formats.

[2019-09-20 11:09] nomemory commented on #61
@luciano-fiandesio I've deprecated the methods for the moment.

[2019-09-20 11:09] #61 closed

[2019-09-20 11:10] nomemory commented on #60
Hello, in version 0.3.7 UnaryOperator the problem should not appear.
If it persists please announce me.

[2019-09-20 11:10] #60 closed

[2019-09-27 18:45] asethia opened #62 "subsequent run data consistency"
Thanks a lot for making such an excellent Mockneat library. We have a requirement where every time (subsequent run) the application should generate the same data from the MockNeat. Please let me know if MockNeat supports such features.

I tested the following code
[code]
When I run this code , in each subsequent run I always find one record is not matching with old set of record.

[2019-09-29 02:39] nothingzhl opened #63 "If you can use it easily in spring or spring boot, it would be fine."

[2019-09-30 10:24] nomemory commented on #63
Can you please describe how can the integration with Spring Boot can be done better ?

Any particular usecases ?

[2019-09-30 10:59] nomemory commented on #62
@asethia

That's something not easy to implement unfortunately.

The solution is to generate data, [serialise()](https://www.mockneat.com/docs/#serialize) it to a file and then read it everytime from the file.

First thing is to make the `Date1` class serialisable:

[code]

And then the rest of the code looks like this:

[code]

Now, you can see in the output that the values are identical:

[code]

[2019-09-30 11:01] #57 closed

[2019-09-30 11:02] nomemory commented on #54
If you have this type of data as text, it can very easy to integrate in the library as a dictionary.

[2019-09-30 11:02] #54 closed

[2019-09-30 11:02] #16 closed

[2019-10-01 14:13] asethia commented on #62
thanks @nomemory . We are using mockrneat with Scala code and dynamic bean/objects. I will find try to find out how I can use filler. We are still looking to generate the same data in the subsequent run, without storing them in file/serialized format.

I tried to use different RandomType, SecureRandom.getInstance("SHA1PRNG"), and It is generating the same data in the subsequent run, need to test m

[2019-10-01 14:13] #62 closed

[2019-10-03 08:57] #63 closed

[2019-10-17 16:51] aborroy opened #64 "No instructions to use this project from Maven?"
It looks too complex to use this project from Maven, since it's required to download two different source projects, build them and add them to local Maven repository.

Almost useless when working with Maven.

[2019-10-17 21:57] nomemory commented on #64
https://www.mockneat.com/start/

You can find the instructions to include it in a maven build.

[2019-10-18 05:30] aborroy commented on #64
Did you try these instructions recently? I think the artifact is not available in that repository... This is why I had to build everything by my own.

[2019-10-18 09:21] nomemory commented on #64
Just tested by creating a new maven project. My pom file looks like this:

[code]

It works for me.
Are you sure you don't have some networking issues that won't allow you to download the artifact.

[2019-10-18 09:29] nomemory commented on #64
PS: Refrain from using terms like "useless". It's not nice.

[2019-10-18 09:31] #64 closed

[2019-10-18 09:32] aborroy commented on #64
You are right, it was not elegant to use that "useless". This is a great work and I was frustrated not to be able to use it.

The problem with that is the dependency seems not to be working, as I'm getting following error:
[code]

Are there any other dependencies missing?

[2019-10-18 10:43] nomemory commented on #64
This is indeed very awkward...

1. I've created a new maven project from scratch (with the pom file attached).
2. I've used the countries() method and it worked.

Maybe the library was not compiled successfully...

What I suggest:
1. Remove the local maven dependency (maybe the sources were not compiled correctly).
2. Create a project from scratch and that uses a similar pom config as the one I've

[2019-10-18 11:43] aborroy commented on #64
Thanks for you help, really appreciated.

It looks like there is some problem when using the library inside a Spring Boot application.

[code]

When removing this dependency, the code runs fine.

Let me study this deeper and I'll come back with my findings.

[2019-10-18 12:15] nomemory commented on #64
https://github.com/DeloitteDigitalRO/DDWatch

In this project you can see a spring boot application that uses mockneat. And it's using maven.

[2019-10-18 13:57] aborroy commented on #64
Definitively it was my fault. Now it's working fine.

It looks like me ".m2" folder was corrupted. I've removed it completely and now `mockneat` dependency has been dowloaded correctly.

Sorry for taking your time.

[2019-10-19 06:57] nomemory commented on #64
No problem! Good luck.

[2019-12-17 20:41] osi opened #68 "Industries is misspelled"
https://github.com/nomemory/mockneat/blob/60e53c03a55a1af58e41685587e922b50c707b23/src/main/java/net/andreinc/mockneat/MockNeat.java#L410

should be `industries`

[2019-12-17 21:10] nomemory commented on #68
You are indeed right. I will fix this with the next release. Thank you for noticing.

[2019-12-17 23:56] osi commented on #68
no worries, thanks for the library!

[2020-01-09 19:01] osi opened #72 "using list(MockUnitInt) doesn't generate a new random value each time."
I am trying to generate lists of data with random size. I started with

[code]

my expectation from looking at the API was that each time I called `listOfThings.val()` I'd get a new list with a random size. in practice, the random size is evaluated once, and I get lists of the same size each time.

i've worked around this by doing

[code]

but that feels awkward.

what's the intention of `MockUnit

[2020-01-10 09:07] nomemory commented on #72
Hey, thanks for stopping by. It's true, things don't work as expected. Let me take a look to understand what I've missed.

[2020-01-10 09:44] nomemory commented on #68
Fixed in the latest version
```compile 'net.andreinc.mockneat:mockneat:0.3.8'```

[2020-01-10 09:44] #68 closed

[2020-01-10 09:44] nomemory commented on #72
@osi

Tried a quick fix.

Can you please try your scenario with the latest version:

[code]

[2020-01-10 15:02] nomemory commented on #72
@osi I am also more than open to any PR.

If you have additional ideas don't hesitate to share them.

[2020-01-10 16:34] osi commented on #72
thanks for the fix! what you did fixes my scenario (here's a snippet that exercises it)

[code]

good to know about future PRs. (I like to discuss changes to projects with people first, rather than dropping off a PR with no context)

[2020-01-11 11:07] nomemory commented on #72
Thank you for your interest. I enjoy when people actually raise those kinds of issues.

Regarding the PRs, there are many ideas hanging, but one of the things I was interested in building were:

- implementing mockneat in other languages, e.g.: JavaScript . The fakers in the js world aren't very smart;
- building a mockneat server that can be used to mock rest APIs easier (descriptive approach)
-

[2020-01-14 22:43] osi commented on #72
Good to hear your ideas! I've been primarily using the project to populate tables in a relational DB. I borrowed some from the existing `SQLInsert` but had made my own abstraction a bit more tailored to how I'm using it.  I'll keep your goals in mind as I continue to use the library and help enhance it appropriately.

[2020-01-14 22:43] #72 closed

[2020-02-23 21:35] Jazzepi opened #74 "Website search broken"
Searching for anything in the website produces hits that look correct but the links presented do not work. They all look like this.

https://www.mockneat.com/undefined

[2020-02-23 21:42] Jazzepi opened #75 "Incorrect documentation around secure random seeding"
Two problems.
1. This isn't correct.  `// Note: RandomType.SECURE is the only type that supports seeding.`

[code]

2. You cannot successfully seed a SecureRandom instance. You can call setSeed() on it, but all that does is mix your seed in with the secure random's one. From my perspective I need the seed to be the same because I want random data, but I want random *stable* data in my tests. For t

[2020-02-25 09:21] nomemory commented on #74
@Jazzepi Thanks for stopping by. I will be able to fix the two issues you've mentioned in the following weeks.

Meanwhile, if you see anything else you would like to improve/remove/delete/add from the documentation:

https://github.com/nomemory/mockneat-site

(Every commit on git will trigger a new build in the production site, so changes are instant).

[2020-02-27 08:43] #75 closed

[2020-03-12 14:46] asethia opened #76 "bulk data vs sequential"
Hi,

When we are trying to get data using set vs individually, they are different, even though seed value remain constant.  The code snipped is attached here.

[code]

[2020-03-18 03:34] bin01 opened #77 "Markovs doesn't honor RandomType"
I have a use case to have repeatable text generation based on a given seed. It appears that Markovs doesn't honor RandomType.OLD as it directly relies on ThreadLocalRandom. Please let me know if you would like me to create a pull request to fix it.

[2020-03-18 11:36] nomemory commented on #77
@bin01 Any PR is much appreciated. Thank you!

[2020-03-24 21:30] bin01 commented on #77
@nomemory Could you please look into the PR when you get a chance?

[2020-03-25 08:55] nomemory commented on #77
@bin01 Thank you for the PR. I was a little bit busy at the moment. But I will review it as soon I have some time. Maybe till the end of the week ? Is that ok ?

Also, as far as I remember I've moved the markov part in the markovneat library and mockneat uses markovneat for markov related things.

[2020-03-25 20:58] nomemory commented on #77
I think the PR was made on an older version of the library.

Most of the Markov related classes have been moved here:
https://github.com/nomemory/markovneat

I think that's the place where we should do the changes.

[2020-03-25 23:34] bin01 commented on #77
Oops, I will decline that PR and create it against the correct repo.

[2020-03-26 07:49] #77 closed

[2020-10-22 16:39] #76 closed

[2020-10-22 16:40] #74 closed

[2020-11-27 07:13] dishantkamble opened #92 "Antivirus complains of Java Trojan for mockneat-0.3.8.jar"
My antivirus complains of the following message for the **mockneat** library. The version I am using is **0.3.8**.

**`Virus: Java.Trojan.GenericGBA.20288`**

Is there any possible changes that can be made in the next version of this library so as to avoid such for future versions?

[2020-11-27 10:01] nomemory commented on #92
@dishantkamble

The current version is `0.4.1`, but without giving me more details, I don't know what to say about that "virus" ? What classes are problematic ?

This is the first time I am hearing this. Where are you downloading it from ?

Andrei

[2020-11-27 10:14] dishantkamble commented on #92
I have added it to my pom. It takes it from maven.

The antivirus scanner does not give any more details than this unfortunately.

[2020-11-27 10:28] nomemory commented on #92
What is the antivirus ? Maybe I can contact them.

[2020-11-27 10:30] dishantkamble commented on #92
Microsoft Defender ATP

[2020-11-27 10:35] nomemory commented on #92
I will contact Microsoft to understand better what's happening. Thanks for notifying me about this.

[2020-11-28 08:24] EricZhangxd opened #93 "probabilities use double loss of accuracy"
MockNeat m = MockNeat.threadLocal();
    System.out.println(m.probabilites(Integer.class)
        .add(0.1, m.ints().range(0, 1))
        .add(0.1, m.ints().range(1, 2))
        .add(0.2, m.ints().range(2, 3))
        .add(0.2, m.ints().range(3, 4))
        .add(0.3, m.ints().range(4, 5))
        .add(0.1, m.ints().range(5, 6))
        .val());

throw error java.lang.IllegalArgumentException: Prob

[2020-11-29 18:22] nomemory commented on #92
@dishantkamble I've sent the request to Microsoft for this false positive.

If you want to help you can also submit the .jar file as a false positive:

https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/antivirus-false-positives-negatives

[2020-11-29 18:22] nomemory commented on #93
@EricZhangxd I am working on a fix. Realistically speaking it will be ready by end of next week.
Thank you for taking your time to report this issue.

[2020-12-02 09:48] nomemory commented on #93
@EricZhangxd the bug should be fixed in the latest version `0.4.2`. Can you please see if the issue is still persisting ?

[2020-12-02 10:06] EricZhangxd commented on #93
@nomemory it works, thanks !

[2020-12-02 10:06] #93 closed

[2021-02-06 00:52] cvgaviao opened #94 "Question: Would be viable to use reflection to call mockneat data generators ?"
I'm using my own tool in order to create pojos and test cases based on a set of json schemas.
Now I'm investigating the mockneat tool in order to populate those tests.

Since I already have the json schema and I could tag each pojo's attribute with any value. For example, I could have one tagged with "x-gen-names.FIRST_NAME".

Do you think that would be possible to instantiate a generator (names i

[2021-02-06 06:32] nomemory commented on #94
Hi,

I think it's possible. Every generator is a MockUnit (that's the interface). And also a specific class that implements this interface or a more specific one (MockUnitString, MockUnitInt, etc.).

For example Names: https://github.com/nomemory/mockneat/blob/master/src/main/java/net/andreinc/mockneat/unit/user/Names.java

I don't see any reason it won't work what you want to achieve. You can kee

[2021-02-09 13:23] nomemory commented on #92
I've contacted the security team. It's a false positive. Should be fixed in the future.

[2021-02-09 13:23] #92 closed

[2021-02-09 13:27] nomemory commented on #11
@levonk The library if finally on maven central:

[code]

[2021-02-12 19:41] nomemory commented on #94
@cvgaviao Any luck? Need any help?

[2021-02-15 09:04] #94 closed

[2021-08-01 13:27] amihaiemil opened #102 "Try Using Rultor, Makes Life Easier"
Neat library! I also have quite a few Java libraries on Github.

I use [Rultor](https://www.rultor.com/) in all of them to automate merging of PRs, deployment and release processes. Rultor is not my project, but I've contributed to it some time ago.

You can automate the Github Release and also deployment to Maven, Github Packages etc and trigger everything with one comment.

Here is my latest Jav

[2021-08-01 13:45] amihaiemil opened #103 "Automated Management"
We wrote Self XDSD: https://self-xdsd.com for our own needs and decided to make it public.

It's a chatbot which helps you manage your repo. It will answer to new Issues automatically and assign them to DEV contributors. It will also assign PRs to REV contributors automatically for review.

Most interestingly, it will open Github Issues for the TODOs which you write in the code and will close thes

[2021-08-04 12:25] KolyaMetallist commented on #42
As a workaround I use the following:
`Timestamp.valueOf(mock.localDates().val()
                                        .atTime(mock.ints().rangeClosed(0, 23).val(),
                                            mock.ints().rangeClosed(0, 59).val(),
                                            mock.ints().rangeClosed(0, 59).val()))`

[2021-09-02 03:21] BOFA1ex opened #104 "Question: Is there have anyway support combine mock data"
[code]

Console Out
[code]

Expected
[code]

Is there a way to combine data without using accumulating (special 200) and print in expected?

[2021-09-08 08:53] #104 closed

[2021-10-11 07:06] ilentt opened #105 "markovs() function throw exception"
When I follow the example at https://www.mockneat.com/docs/#markovs

The markovs() function it seem occurred error, despite I call get() or val() it's always throw exception error. I am not sure this error cause by my fault or something else. Would you please show me solution to solve it?

``
mock.markovs().size(512).type(MarkovChainType.LOREM_IPSUM).get();
``

![image](https://user-images.githubu

[2021-12-10 09:15] nomemory commented on #105
@ilentt I've just tried with

[code]

And it works for me.

What version are you using /?

[2021-12-16 16:33] #105 closed

[2022-06-30 07:36] #103 closed

[2022-06-30 07:36] #102 closed

[2022-07-04 10:17] DNWEIJ opened #111 "question: How to add unique objects to a list"
given the example:

[code]

This will result in a list of children having the same id (parent.child(0).id = parent.child(1).id) .
I have been trying to resolve it to use the supplier but cannot get it to work.

In general, the question would be: How to get a list of unique objects using diffenre object generators; Meaning the value within the objects are not the same in the list of objects.

[2022-08-18 07:21] DNWEIJ commented on #111
any one?

[2022-08-30 06:52] DNWEIJ commented on #111
project seems dead.....

[2022-09-19 11:35] nomemory commented on #111
@DNWEIJ project is not dead. Sorry, I had the notifications turned off for the MockNeat issues.

[2022-10-25 07:53] #111 closed

[2022-11-10 13:18] fredfr94 opened #119 "tutorial for shuffling a subset of properties, given an instance of object"
Bonjour,

I had working with MockNeat to implement a groovy interface.
Given an instance of an object, the interface can shuffle all the fields of the object.
[code]
It can also shuffle some fields of the instance without touching the others, for instance : all the String type.
This interface can deal with inheritance with respect on protected field.

It was not easy for me to design the script. I